* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
}

/* Start Header */
.header {
    background-image: url(" ./imgs/pexels-photo-3136673.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search:focus {
    box-shadow: none;
}

.search::placeholder {
    color: gray;
}

.h1-header {
    padding-top: 100px;
}

/* End Header */
/* Start About */
.about {

    background-color: #000000;
}

.icon-box {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #f2552c;
}

.btn-read-more {
    color: #f2552c;
    border: 2px solid #f2552c;
    transition: all 0.3s ease;
}

.btn-read-more:hover {
    background-color: #f2552c;
    color: #ffffff;
    border-color: #f2552c;
}

.p-about {
    line-height: 1.7;
    font-size: 1.1rem;
}

.box1-orange {
    height: auto;
    min-height: 100%;
    background-color: #f2552c;
}

.h4-about {
    padding-top: 20px;
}

.li-about {
    line-height: 1.6;
}

.h1-about {
    padding-top: 20px;

}

.h2-about {
    margin-top: 20px;
}

.good-word {
    color: #f2552c;
}

.box2-orange {
    background-color: #f2552c;
    height: auto;
    width: 80%;
    border-radius: 8px;
}

.card-text {
    font-size: 1rem;
    line-height: 1.6;
}

.img-right {
    margin-top: 0;
    max-width: 100%;
    width: 380px;
    height: 380px;
    object-fit: cover;
}

/* End About */
/* Start FAQ */
.fac {
    padding-top: 80px;
    background-color: #000000;

}

.accordion-flush .accordion-item {
    background-color: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.accordion-flush .accordion-button {
    background-color: transparent !important;
    color: #ffffff !important;
    box-shadow: none !important;
}

.accordion-flush .accordion-body {
    color: #ffffff !important;
    background-color: transparent !important;
}

/* End FAQ */
/* Start Contact */
.contact {

    background-color: #000000;
    padding-top: 60px;
}

.custom-form-container {
    background-color: #121519;
    border-radius: 8px;
}

.custom-input {
    background-color: transparent !important;
    color: #fff !important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #ffffff;
}

.custom-input::placeholder {
    color: #a0a0a0;
}

.custom-input:focus {
    border-bottom: 2px solid #ff5722 !important;
    box-shadow: none !important;
}

.btn-custom-orange {
    border: 2px solid #ff5722;
    color: #ffffff;
    background-color: transparent;
    transition: all 0.3s ease;
}

.btn-custom-orange:hover {
    background-color: #ff5722;
    color: #ffffff;
}

/* End Contact */
.footer {
    color: #ffffff;
    background-color: #333333;

}

.end-line-footer {
    margin-top: 40px;
}

/* End Footer */